*{
	margin: 0px;
	padding: 0px;
	font-size: 24px;
}
.content{
	width: 70%;
	margin: 50px auto 0px auto;
	text-align: center;
}

.content h1{
	font-size: 36px;
	margin-bottom: 20px;
	text-decoration-line: underline overline;
	text-decoration-color: red;
/*	text-decoration-thickness: 15px;*/
	text-decoration-style: wavy;
}

.content .links{
	display: flex;
	flex-direction: column;
	margin: 20px;
}

.content .links a{
	padding: 10px;
	transition: all 0.2s;
}

.content .links a:hover{
	text-decoration-color: orangered;
	color: black;
	font-size: 36px;
}