@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Galada&family=Monsieur+La+Doulaise&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Bungee+Spice&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Galada&family=Geist+Mono:wght@100..900&family=Monsieur+La+Doulaise&family=Sevillana&display=swap');

body{
	background-image: url('images/texture.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
.box #box1 button{
align-content: center;
	
	text-align: center;
	color:white;
	font-family: "Geist Mono", monospace;
	font-weight: 700;
	font-size: 20px;
	padding: 20px;
	border-radius: 20px;
}
h1{
	text-align: center;
	font-size: 80px;
	font-family: "Sevillana", cursive;
	font-weight: 700;
	color: #fff;
}
.box{
	height: 500px;
	width: 700px;
	margin: 35px auto 0px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	row-gap: 5px;
	column-gap: 2px;
	
}
.box .box-item{
	width:250px ;
	height:250px ;
	
	margin: 20px;



}
.box #box1 h1{
	text-align: center;
	padding: 350px;
	font-size: 10px;
	font-family: cursive;
}
.box #box1{
	background-image: url('images/Stree-2-.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box #box1:hover{
	background-color: lightsalmon;
	background-blend-mode: multiply;
	color:white;
	

}
.box #box2{
	background-image: url('images/Ishq.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box #box2:hover{
	background-color: lightsalmon;
	background-blend-mode: multiply;
	color:white;
	

}
.box #box3{
	background-image: url('images/Singham-Again.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box #box3:hover{
	background-color: lightsalmon;
	background-blend-mode: multiply;
	color:white;
	

}
.box #box4{
	background-image: url('images/Hindustani.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box #box4:hover{
	background-color: lightsalmon;
	background-blend-mode: multiply;
	color:white;
	

}
.box #box5{
	background-image: url('images/chandu-champion.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box #box5:hover{
	background-color: lightsalmon;
	background-blend-mode: multiply;
	color:white;
	

}
.box #box6{
	background-image: url('images/Bhool-Bhulaiyaa.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

.box #box6:hover{
	background-color: lightsalmon;
	background-blend-mode: multiply;
	color:white;
	

}

